body{
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid white;
}

.center{
    text-align: center;
}

.container{
    padding: 10px 75px;
}

#link{
    width: 60px;
    height: 60px;
    border-radius: 0%;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    
    
}

#link2{
    width: auto;
    height: 25px;
    border-radius: 0%;
    border: 2px solid rgb(15, 15, 15);
    padding: 5px 5px;
    
    
}

#link3{
    width: auto;
    height: 200px;
    text-align: center;
    border-radius: 0%;
    border: 0px solid white;
    padding: 10px 75px;
}